@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
/*

orange = #f7901e 
purple = #21145f

*/

:root {
  --main-orange: #f7901e;
  --main-purple: #21145f;
  --light-gray: #efefef;
  --dark-gray: #424242;
  --teal: #14495f;
  --navy: #0e3343;
}


.entry-title.h1.intro-title {
	font-family: 'Roboto Slab', serif;
}

/*every cpt*/
.single-week h3.entry-title.h1, .single-unit h3.entry-title.h1, .single-narrative h3.entry-title.h1, .single-profile h3.entry-title.h1  {
	display: none;
}

.single-week .intro-container, .single-unit .intro-container, .single-narrative .intro-container, .single-profile .intro-container {
	background-size: contain;
	background-color: #fff;
	border-top: 5px solid var(--light-gray);
    border-bottom: 30px solid var(--main-orange);
}

.week, .unit, .narrative, .profile {
	font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8;
}

.week a, .unit a, .narrative a, .profile a {
	color: var(--main-purple);
	font-weight: 600;
}

.week a:hover, .unit a:hover, .narrative a:hover , .profile a:hover {
	color: var(--dark-gray);
}

.week h1, .unit h1, .narrative h1, .profile h1 {
	font-family: 'Roboto Slab', serif;
	color: var(--main-purple);
}

/*list items*/
.week ul, .unit ul, .narrative ul, .profile ul{
	list-style-position: outside;
	list-style: none;
}


.week li::before, .unit li::before, .narrative li::before, .profile li::before{
   content: '';
   display: inline-block;
   height: 20px;
   width: 20px;
   background-image: url('../imgs/star.svg');
   margin-right: 5px;
}


.week li, .unit li, .narrative li, .profile li {
	line-height: 1.2;
	font-size: 1.2rem;
	margin-bottom: 15px;
	text-indent: -25px;
}


/*end every cpt*/

.nc-section {
	margin-top: 50px;
}

.nc-section h2, .weeks-list h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
	margin-top: 20px;
	text-align: left;
	width: 100%;
/*	background-image: url('../imgs/node-horz.svg');
*/	background-repeat: no-repeat;
	background-position: top 0 right 0;
	background-size: contain;
	padding-top: 15px;
	color: var(--main-purple);
}

.nc-section h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.6rem;
	margin-top: 20px;
	text-align: left;
	width: 100%;
	color: var(--main-purple);
}

.white-out {
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
	color: var(--main-purple);
	background-color: #efefef;
	padding: 10px 20px;
/*	border-right: 4px solid var(--light-gray);
*/}

.weekly-map {
	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-around;
  	align-content: flex-start;
}

.map h2 {
	margin-bottom: 20px;
}


.day {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	padding: 10px 20px;
	height: 100%;
}

.day:nth-child(even){
	background-color: var(--light-gray);
}

.day h3{
	font-size: 1rem;
	font-family: 'Roboto Slab', serif;
}

.day p {
	line-height: 1;
	font-size: .9rem;
}

.word {
	font-weight: 700;
	text-decoration: underline;
}


/*navigation*/


.weeks-list li.here {
	margin-left: 10px;
	border-left: 5px solid var(--main-orange);
	background-color: var(--light-gray);
}


/*weeks sidebar navigation*/
.weeks-list {
	background-image: url(../imgs/circuit_down.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	border-top: 8px solid var(--main-purple);
	box-shadow: 2px 2px 15px -7px #000000;
	padding: 0 15px 300px 15px;
	border-bottom: 5px solid #fff;
}

.weeks-list h2 {
	background-color: rgba(255,255,255,.95);
	margin-bottom: 0;
}

.weeks-list ul {
	list-style-position: outside;
	list-style: none;
	margin-left: 0;
	background-color: rgba(255,255,255,.95);
}

.weeks-list li {
	line-height: 1;
	font-size: 1.2rem;
	margin-bottom: 15px;
}

.weeks-list li a {
	padding: 7px 14px;
	display: block;
	color: var(--main-purple);
	font-weight: 700;
	transition: all .3s;
}

.weeks-list li a:hover {
	color: #fff;
	background-color: var(--main-purple);
}

/*
narrative stuff
*/

.cycle-nav h3{
	font-size: 3rem;
	text-align: center;
	margin-bottom: 20px;
}

.cycle-nav.row {
	border-bottom: 3px solid var(--main-orange);
	border-bottom-right-radius: 20px;
	box-shadow: 2px 2px 15px -7px #000000;
	padding-bottom: 20px;
}


.steps-block {
	box-shadow: 2px 2px 15px -7px #000000;
	padding: 20px 30px;
}

/*strategy plan*/

.ncbce-plan {
/*	border: 1px solid var(--main-purple);
*/	box-shadow: 2px 2px 15px -7px #000000;
}

.eval-goal {
  background-color: var(--main-purple);
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
	font-family: 'Roboto Slab', serif;
  padding: 15px;
}

.eval-goal h2 {
	color: #fff;
}

.objective {
  background-color: var(--light-gray);
  padding: 10px 15px;
}
